@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

a{
    text-decoration: none;

}

/* header */

.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}
.nav{
    max-width: 1100px;
    width:100%;
    margin: 0 auto;

}

.nav_logo{
    font-size: 25px;
}

.nav,
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav_item{
    column-gap: 25px
}

.nav_link,.nav_logo,button{
    color: white;
}

.nav_link{
    transition: all 0.2s ease-in;

}

.button{
    padding: 6px 24px;
    border: 2px solid white;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.button:hover{
    background-color: #f5620d;
    font-weight:900;
}

.nav_link:hover{
    color: #f5620d;
    font-weight:900;
    text-decoration: underline;
}

.button:active{
    transform: scale(0.99);
}

/* home main */


.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(laptop-murjp1nk4lp1idlt.jpg);
    background-size: cover ;
    background-position:center ;
}
.home::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}
.home.show::before{
    opacity: 1;
    pointer-events: auto;
}

.container_form{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 320px;
    width: 100%;
    transform: translate(-50%,-50%) scale(1.2);
    z-index: 101;
    transition:all 0.2s ease-out;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
}

/* forms */

.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.container_form h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 40px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border:none;
    border-bottom: 1.5px solid #aaaaaa;
    outline: none;
    padding: 0 30px;
    transition: all 0.2s ease;
    color: #333;
}

.input_box input:focus{
    border-color: #f5620d;
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.password,.input_box i.email{
    left: 0;
    color: #707070;
}
.input_box input:focus ~ i.email,.input_box input:focus ~ i.password{
    color: #f5620d;
}

.input_box i.pw_hide{
    right: 0;
    color: #504e4e;
    font-size: 18px;
}

.option_field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
}

.container_form a{
    color: #f5620d;
    font-size: 12px;
}
.container_form a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    white-space: nowrap;
    column-gap: 8px;
}

.checkbox input{
    accent-color: #f5620d;
}

.checkbox label{
    color: #0b0217;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.container_form .button{
    background: #f5620d;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

/* signup */

.signup_form{
    display: none;
}


/* js */

.home.show .container_form{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    pointer-events: auto;
}

.container_form.active .signup_form{
    display: block;
}

.container_form.active .login_form{
    display: none;
}



/* hamburger icon and media query */

.hamburger{
    display: none;
    width: 35px;
    cursor: pointer;
    position: relative;
    appearance: none;
    outline: none;
    background: none;
    border: none;

}

.hamburger .bar,.hamburger::after,.hamburger::before{
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    content: '';
    display: block;
}

.hamburger.is_active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #f5620d;

}

.hamburger.is_active .bar {
    opacity: 0;
}

.hamburger.is_active::after {
    transform: rotate(45deg) translate(-9px, -8px);
    background-color:#f5620d;

}

.mob_nav{
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 98;
    background-color: #12002f;
    padding-top: 120px;
    height: 100vh;
    transition: 0.4s;

}

.mob_nav.is_active{
    left: 0;
}

.mob_nav a{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px;
    color: #1f103f;
    font-weight: 600;
    background-color: aqua;
}

.mob_nav a:hover{
    background-color: #24104f;

}

@media only screen and (max-width: 700px) {
    

    .nav_item{
        display: none;
    }

    .hamburger{
        display: block;
    }


  }